// theme colors
$myColor: rgb(64, 168, 224) !default;

// Height control
$base-height : 1rem !default;

// spacing
$base-padding : 1rem !default;
$base-padding-em : 1em !default;
$base-margin : 1rem !default;

$base-input-padding : 8px !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;
$base-border-radius2: 15px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;
$base-box-shadow-2: 3px 3px 10px rgba(black,1) !default;

// font sizes
$base-font-size: 1rem !default;

// circle 
$base-circle-diameter : 10rem !default;