@import "./node_modules/bootstrap/scss/bootstrap";
$myColor: rgb(137, 237, 236);

.top-banner {
  background-color: turquoise;
}

.weather-icon {
  font-size: 6rem;
}

.weather-report {
  width: fit-content;
}

.table{
  font-size: 14px;
}
.flag-icon {
  height: 20px;
}
.flag-icon-main {
  height: 30px;
}